
.container {
  position: absolute;
  height: 750px;
  width: 100%;
  background: linear-gradient(rgba(1,1,1,0.3), rgba(1,1,1,0.3)), url(assets/pizza2.jpeg) no-repeat center/cover;
}

.container2{
  height: 750px;
  width: 100%;
  position: inherit;
  padding-top: 750px;
  background-color: #273042;
}

.container3{
  height: 750px;
  width: 100%;
  position: inherit;
  background-color: aqua;
}

/* Position absoulte filled the background image to the whole screen */

* {
    margin: 0;
    padding: 0;
  }


  .navbar{
      display: flex;
    align-items: center;
      color: red;
      background-color: #273042;
      height: 50px;
  }

  .nav-title{
      width: 30%;
      text-align: center;
  }
  .nav-options{
    display: flex;
    justify-content: space-around;
    width: 30%;

  }

  .btn1 button{
      color: white;
      background-color: red;
      padding: 12px 25px;
      border-radius: 25px;
      font-size: 15px;
      border: none;
      cursor: pointer;
  }
/* Cursor: pointer allows pointer finger when hovering button 
border none removed the white outlines to make it look better
 */

  .btn1 :hover{
    opacity: 0.9;
  }
  /* remember to use class :hover not class button hover */

  p{
    color: white;
  }


  .nav-options a{
    text-decoration: none;
    color: white;
  }

  .nav-options :hover{
    color: red;
  }

  .menu{
    padding-top: 20%;
  }

.top-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

.body-title{
  padding-bottom: 5%;
}

.body-title h1{
  font-size: 75px;
  color: white;
}

html {
  scroll-behavior: smooth;
}