
.container{
    background: url(assets/pizza1.jpeg) center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Position absoulte filled the background image to the whole screen */

* {
    margin: 0;
    padding: 0;
  }


  .navbar{
      display: flex;
    align-items: center;
      color: red;
      background-color: #273042;
      height: 50px;
  }

  .nav-title{
      width: 30%;
      text-align: center;
  }
  .nav-options{
    display: flex;
    justify-content: space-around;
    width: 30%;

  }

  .btn1 button{
      color: white;
      background-color: red;
      padding: 12px 25px;
      border-radius: 25px;
      font-size: 15px;
      border: none;
      cursor: pointer;
  }
/* Cursor: pointer allows pointer finger when hovering button 
border none removed the white outlines to make it look better
 */

  .btn1 :hover{
    opacity: 0.9;
  }
  /* remember to use class :hover not class button hover */

  p{
    color: white;
  }


  .nav-options a{
    text-decoration: none;
    color: white;
  }

  .nav-options :hover{
    color: red;
  }