*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(255,255,255,0.3)),url(assets/yale-university-gd755cd762_1920.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

i{
    color: white;
    font-size: 50px;
}

.navbar a{
    text-decoration: none;
    color: white;
}


.navbar{
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    display: inline-block;
    padding: 10px;
}
.nav-links ul li a{
    font-size: 16px;
}

.nav-links ul li:hover{
    background: rgba(255,255,255,0.3);
    opacity: 1.5;
    border-radius: 45%;
    cursor: pointer;
}
.main-text{
    width: 80%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.main-text h1{
    font-size: 50px;
    padding-bottom: 15px;
}
.main-text p{
    padding-bottom: 30px;
}

.btn1{
    display: inline-block;
    text-decoration: none; 
    color: #fff;
    border: 1px;
    border-style: solid;
    border-color: #fff;
    padding: 5px 12px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn1:hover{
    background: rgba(58, 159, 253,0.8);
    transition: 1s;
}
 /* Next Section -courses */
.classes{
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.classes h1{
    font-size: 36px;
    font-weight: 600;
}

.classes p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.class-section{
    margin-top: 5%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.eachclass{
    flex-basis: 30%;
    background: rgba(58, 159, 253, 0.5);
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.classes h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.eachclass:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

.eachclass p{
    color: black;
}

/*--------------- Next Section Locations  ---------------*/

.locations{
    text-align: center;
    width: 85%;
    margin: auto;
    padding-bottom: 30px;
    background-color: rgba(78, 72, 72, 0.089);
    height: 100%;
    width: 100%;
}

.locations h1{
    font-size: 36px;
    font-weight: 600;
}

.location-row{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.location-col{
    flex-basis: 30%;
    position: relative;
}

.location-col img{
    width: 500px;
    height: 575px;
    border-radius: 10px;
}

.location-col img:hover{
opacity: 0.5;
}

.location-col h3{
    padding-bottom: 5%;
}

.loc-title{
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 25%;
    font-size: 36px;
    font-weight: 600;
}

.locations p{
    font-weight: 300;
    font-size: 300;
    color: #777;
    padding: 10px;
}








.map{
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 65px;
}

.map h1{
    font-size: 36px;
    font-weight: 600;
        
}

.map-row{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.map-col p{
    padding-bottom: 5%;
}

.map-col h3{
    font-size: 25px;
    font-weight: 200;
}

.map-col p{
    font-weight: 300;
    font-size: 300;
    color: #777;
    padding: 10px;
}


.nav-links a{
    transition: 1s;
}